{% extends 'portal/base/base-auth.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<style>



</style>


        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h4 class="card-title text-center">Log in to Shepherd</h4></br>

                <form method="post" class="form-signin"><input type="hidden">{% csrf_token %} 
                      {% for field in form %}
                    <div class="form-label-group">
                      {% bootstrap_field field show_label=False %}
                    </div>
                    {% endfor %}
                    <div class="form-label-group">
                            <button type="submit" class= "btn btn-success btn-block" >Log In</button>
                            <a href="#" class="btn btn-secondary btn-link btn-block">Recover Your Account </a>   
                            <a href="/accounts/signup" class="btn btn-link btn-block">Sign Up</a>
                               
                            
                          </div>
                    
                  
                   
                   
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        




{% endblock %}
