{% extends 'portal/base/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block breadcrumb %}

<li class="breadcrumb-item active" aria-current="page">Profile</li>
{% endblock %}

{% block content %}


<p>Click send to send a request to become a volunteer   </p>
              <div >
                    <form method ="POST">{% csrf_token %} 
                            
                            
                    <input  class="btn btn-primary " type ="submit" formaction="{% url 'volunteer_invite' %}" value ="Send " >
                    
            
                
            </div>
              
              
{% endblock %}




